html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*  Rollover image styles  */
.figure {
    position: relative;
    /*width: 360px;*/ /* can be omitted for a regular non-lazy image */
    max-width: 100%;
}

    .figure img.image-hover {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        object-fit: contain;
        opacity: 0;
        transition: opacity .2s;
    }

    .figure:hover img.image-hover {
        opacity: 1;
    }