@model UnitOfWork.Models.Products

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4>Barcode Generator</h4>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jsbarcode/3.6.0/JsBarcode.all.min.js"></script>
<style>
    .row {
        text-align: center !important;
    }

    #barcode1 {
        text-align: center;
    }
</style>
<script>
    JsBarcode(".barcode").init();

</script>

<div class="container">
    <div class="row">
        <div class="col-lg-12" text-align="center">

            <br />
            <br />
            
            <br /> 
            <table align="center" width="500px" border="0">
                <tr>
                    <td align="center">
                        @if (@Model.ImageA == null)
                        {
                            <img src="/images/empty.jpg" width="300px" height="300px" />
                        }
                        else
                        {
                            <img src="/images/@Model.ImageA" width="300px" height="300px" />
                        }
                    </td>
                </tr>
                <tr>
                    <td align="center">

                        
                        <img id="barcode1" />
                        <script>
                            JsBarcode("#barcode1", "@Model.Title", {
                                with: 0.1,
                                height: 25,

                            });</script><br />

                    </td>
                </tr>

            </table>





        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12" text-align="left">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />

        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


