@model UnitOfWork.Models.Products

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

 

<h4>Update Image</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPic" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
          

            <div class="form-group">
                <label asp-for="Title" class="control-label"> @Model.Title</label>
            </div>
            <div class="form-group">

                @if (Model.ImageA == null)
                {
                    <img src="~/images/empty.jpg" style="width:150px; height:150px;" />
                    
                }
                else
                {
                    <img src="~/images/@Model.ImageA" style="width:150px; height:150px;" />

                }
               
                <div>  @ViewBag.success </div>

            </div>
              <div class="form-group">
                <label asp-for="photo" class="control-label"></label>
                <input asp-for="photo" class="form-control" />
                <span asp-validation-for="photo" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
