@*@model DisplayViews


@foreach (Categories category in Model.categories)
{
                    <a href="Home/Displaycategory?category=@category.Name"> @category.Name </a>

    <br />

}
        </div>*@