@model DisplayViews

@{
    ViewData["Title"] = "Home Page";
}

<!--// banner corousel  -->
<section class="banner_section" >
    <div class="container">
     <div class="row">
          <div class="banner-content p-5" style="margin-top: 20% !important;">
     
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="banner-contenta">
                        <div class="d-sm-flex align-items-center justify-content-between">
                            <div>
                               
                                <button class="natural">ENJOY OUR EVERY DAY SPECIALS</button> <br> <br>
                                <h4>Family-Style Meals - $18 Wine Bottles* <br>$6 Take Homes* - 
                                    Lunch-Sized Favorites <br> Italian-Inspired Cocktails
                                <br><br>CHEERS TO YOUR WINE
                                FAVORITES TO GO
                                STARTING AT $18</h4>
                                
                            </div> 
                             
                       </div>
                    </div>
              
                  </div>
               
                 
                </div>
              </div>

           </div>
         </div>
    </div>
</section>
<!-- banner section exit -->

<!--// start products -->
<section class="display_plates">
    <div class="container p-5 text-center">
        <div class="row">
                <div class="col-12 text-center p-5">
                    <h1>OUR FOOD</h1>
                    <P class="p2">If you are looking for a restaurant to host your next event or party, then check out our fantastic banquet rooms at Buca.
                         Our fun and festive semi-private dining rooms are uniquely decorated, comfortable, and inviting, making Broccli's in Dallas, TX the perfect place for hosting a large banquet or an intimate gathering.</P>
                </div>

             @foreach(Category category in Model.categories)
            {


            <div class="col-lg-3 col-sm-6 mb5 ">
                <H1>@category.Name</H1>
                <div class="card product-card">
                    
                    <div class="product-img">
                         <a asp-action="DisplayFullCategory" asp-route-id="@category.Id" asp-route-slug="@category.slug">
                        <img src="@category.ImageCategoryA" class="img-fluid rounded-xl"></a>
                        
                    </div>
                </div>
            </div>
            
            }
           
            
        </div>
    </div>
</section>
<!-- end products -->
<!--// start about -->



<section class="about-us-text">
    <div class="container">
        
            <div class="row align-items-center py-5">
                        <div class="col-lg-6 col-12 mb-4">
                            <img src="images/about-img.jpg" class="img-fluid rounded-xl">
                        </div>
                    
                    
                        <div class="col-lg-6 col-12 mb-4 m-0">
                            <div class="description-about">
                                
                                <h1>ABOUT US</h1>

                                Inviting Atmosphere, Passionate Service, and the Best Italian Culinary Experience

                                Brolli's is a family restaurant serving authentic Italian dishes including made-from-scratch pizzas, home-style pastas and traditional Italian chicken, 
                                seafood and veal dishes.  We have been a main staple of the Southlake community since 1998 and continue the tradition of crafting amazing dishes using 
                                our family recipe and the highest quality ingredients.<BR><BR>  No wonder Brolli's continues to be recognized as the Best Italian Restaurant by many local magazines.  
                                Bring your family and friends in for any occasion for amazing service and great food!  Don’t forget to Bring Your Own Bottle of favorite spirits!
                        </div>
                    </div> 
                    
            </div>   
 </div>
</section>

<!--// end of the section -->

<section class="about_gallery">
      <div class="container">
        <div class="row">
            <div class="col-12 text-center p-5">
                <h1>Gallery </h1>
                <P class="p2">
                    Come and dine with us and see why BROLLI'S was voted: "The Best Neighborhood Italian Restaurant" in Dallas, TX by Dallas D Magazine! 
                </p>
            </div>

            <!---display -->

            <div class="col-sm-6 col-lg-4 mb-4">
                 
                    <img src="images/gallery-1.jpg" class="img-fluid rounded-xl ">
                
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
           
                    <img src="images/gallery-2.jpg" class="img-fluid rounded-xl">
               
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                 
                    <img src="images/gallery-3.jpg" class="img-fluid rounded-xl">
                
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
         
                    <img src="images/gallery-4.jpg" class="img-fluid rounded-xl">
      
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                 
                    <img src="images/gallery-5.jpg" class="img-fluid rounded-xl">
                 
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                
                    <img src="images/gallery-6.jpg" class="img-fluid rounded-xl">
                
            </div>
            <!--end display-->


        </div>
        
     </div>
</section>

<!--// start about -->




    <!--Product Section start -->
    <section class="product_section">
        <div class="container">
            
        
            <div class="row align-items-center py-5">
                <div class="col-xl-7 col-lg-6 col-12 mb-5  order-2 order-lg-1">
                    <div class="product-content">
                        <h1>CATERING SERVICE</h1>
                        <div class="product-details">
                            <p>

                               <H2> BUSINESS CATERING</H2>
EVENT CATERING BRIDAL CATERING
Catering everyone will love, with convenient delivery and setup, starting at $12 per person.*
<BR>
Celebrate life's special moments
with a meal everyone will love.

<BR>

Holiday Parties, 
Office Meetings, 
Employee Appreciation.

<BR><BR>
    <H2>EVENT CATERING</H2>
    Celebrate life's special moments
with a meal everyone will love.<BR>
Birthday, 
Anniversary, 
Family & Friends Gathering, 
School Function.
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 col-12 mb-5 order-1 order-lg-2">
                    <div class="card border-0 ms-lg-5">
                        
                        <img src="images/catering-service.jpg" alt="products" class="img-fluid rounded-xl">
                    </div>
                </div>
            </div>

        </div>
    </section>