@model IEnumerable<Products>

@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                  


                   <div class="col-md-3 col-xs-3 border-primary mb-3">
                  <div class="card mb-3">
              
                          <div class="card">
                              <img src="~/images/card.png" class="card-img-top" alt="...">
                              <div class="card-body">
                            <h2>@item.Title</h2>
                            <h5 class="card-title">Price @item.Price.ToString("c")</h5>
                            <p class="card-text">@item.Description</p>
                            <a asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Id" class="btn btn-primary">Order Now !</a>
                              </div>
                            </div>
                  </div>
                  </div>

            }
        </div>
</div>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
