<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="#">
                <i class="bi bi-grid"></i>
                <span>Dashboard   Admin </span>
            </a>
        </li><!-- End Dashboard Nav -->
     
       
 
         
        <li class="nav-heading">Orders Info</li>


        <li class="nav-item">
            <a class="nav-link collapsed" asp-area="Myadmin" asp-controller="Categories" asp-action="Index">
                <i class="bi bi-person"></i><span>Categories</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" asp-area="Myadmin" asp-controller="Products" asp-action="Index">
                <i class="bi bi-person"></i><span>Products</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" asp-area="Myadmin" asp-controller="ProductOptions" asp-action="Index">
                <i class="bi bi-person"></i><span>Products Options</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" asp-area="Myadmin" asp-controller="Orders" asp-action="Index">
                <i class="bi bi-person"></i>
                <span>Orders</span>
            </a>
        </li><!-- End Profile Page Nav -->



         
        <li class="nav-item">
            <a asp-area="Myadmin" asp-controller="UserAuthentication" asp-action="Logout" class="nav-link collapsed" collapsed">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Logout</span>
            </a>
        </li><!-- End Login Page Nav -->
    </ul>
</aside><!-- End Sidebar-->




<li>
    <a asp-controller="OrdersCarts" asp-action="Index">
        <i class="bi bi-circle"></i><span>Shopping Cart </span>
    </a>
</li>

<li>
    <a asp-controller="OrdersCarts" asp-action="Index">
        <i class="bi bi-circle"></i><span>Orders Pending</span>
    </a>
</li>