@model UnitOfWork.Models.ProductOptions
 
@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Layout = "";
}

<style>
    body {
        font-size: 12px;
    }

    .table thead th {
        color: #000000;
        vertical-align: bottom;
        border-bottom: 1px solid #dee2e6;
    }
</style>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="option11" class="control-label"></label>
                <input asp-for="option11" class="form-control" />
                <span asp-validation-for="option11" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="option22" class="control-label"></label>
                <input asp-for="option22" class="form-control" />
                <span asp-validation-for="option22" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="option33" class="control-label"></label>
                <input asp-for="option33" class="form-control" />
                <span asp-validation-for="option33" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="option44" class="control-label"></label>
                <input asp-for="option44" class="form-control" />
                <span asp-validation-for="option44" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="option55" class="control-label"></label>
                <input asp-for="option55" class="form-control" />
                <span asp-validation-for="option55" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="option66" class="control-label"></label>
                <input asp-for="option66" class="form-control" />
                <span asp-validation-for="option66" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


