@model UnitOfWork.Models.ProductOptions

@{
    ViewData["Title"] = "Create";
    //Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<form asp-area="Myadmin" asp-action="AddOEdit" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this);">
        <div class="row">
              <div class="col-md-6">
                    
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="option11" class="control-label"></label>
                            <input asp-for="option11" class="form-control" />
                            <span asp-validation-for="option11" class="text-danger"></span>
                        </div>
                        </div>
                      <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="option22" class="control-label"></label>
                            <input asp-for="option22" class="form-control" />
                            <span asp-validation-for="option22" class="text-danger"></span>
                        </div>
                     </div>
                
          </div>

                <div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="option33" class="control-label"></label>
            <input asp-for="option33" class="form-control" />
            <span asp-validation-for="option33" class="text-danger"></span>
        </div>
                    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="option44" class="control-label"></label>
            <input asp-for="option44" class="form-control" />
            <span asp-validation-for="option44" class="text-danger"></span>
        </div>
                    </div>
                </div>


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="option55" class="control-label"></label>
            <input asp-for="option55" class="form-control" />
            <span asp-validation-for="option55" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="option66" class="control-label"></label>
            <input asp-for="option66" class="form-control" />
            <span asp-validation-for="option66" class="text-danger"></span>
        </div>
    </div>
</div>






           
           
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>




